/* =Reset
-------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0b1 | 201101
	 NOTE: WORK IN PROGRESS
	 USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =Generic HTML
-------------------------------------------------------------- */

body {
	font-family: 'Poly', serif;
	font-size: 1.25em; /* 16px * 1.25 = 20px */
	line-height: 1.5;
	background-color: #2a2a2a;
	color: #eee;
}

h1,
h2,
h3 {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

h1 {
	font-size: 2.4em;
	line-height: 1.2;
	margin-bottom: 0.45em;
	text-shadow: 2px 2px 1px #000;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 0.2em;
	color: #8b8b8b;
}

h3 {
	font-size: 1.3em;
	margin: 2em 0 1em;
}

a {
	text-decoration: none;
	color: #f18f25;
}

blockquote {
	font-style: italic;
	font-size: 0.95em; /* 20px * 0.95 = 19px */
	text-align: left;
	position: relative;
	padding: 0 2em;
	margin-top: 1.5em;
}

cite {
	margin-left: 1.9em;
	font-size: 0.8em;
	color: #666;
}

strong {
	font-weight: bolder;
}

/* =Header
-------------------------------------------------------------- */

header {
	background: #f18f25;
	position: absolute;
	top: 0;
	width: 100%;
	line-height: 2.25; /* 20 * 2.25 = 45px */
	border-bottom: 2px solid #bb4c00;
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.7); -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.7); box-shadow: 0 1px 8px rgba(0,0,0,0.7);
	z-index: 10;
}

header a,
#top-nav-fixed a {
	color: #7e3300;
	text-shadow: 1px 1px 1px #ffa54c;
	line-height: 2.5; /* 18 * 2.5 = 45px */
}
header a:hover,
#top-nav-fixed a:hover {
	text-decoration: underline;
}

#logo,
#top-nav,
#top-nav-fixed {
	width: 50%;
	text-align: center;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

#logo a {
	font-size: 1.4em; /* 20 * 1.4 = 28px */
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	line-height: 1.4; /* 28 * 1.4 = 39px */
	padding: 0 10px;
	margin: -5 0 0 -10px;
}

#top-nav,
#top-nav-fixed {
	position: absolute;
	top: 0;
	left: 51%;
	width: 49%;
}
#top-nav-fixed {
	position: fixed;
	filter: alpha(opacity=70); -khtml-opacity: 0.7; -moz-opacity: 0.7; opacity: 0.7;
}
.site-nav {
	margin-right: -0.5em;
	padding: 0 0.25em;
}
#top-nav-fixed .site-nav {
	background: #1c1c1c;
}
#top-nav-fixed a {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

ul.site-nav,
.site-nav li {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
.site-nav a {
	text-transform: uppercase;
	font-size: 0.9em; /* 20 * .9 = 18px */
	display: block;
	padding: 0 0.25em;
}

/* =Footer
-------------------------------------------------------------- */

footer  {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	font-size: 0.8em;
	font-style: italic;
	color: #666;
	text-align: center;
	padding: .3em 0;
	clear: both;
}

/* =Content
-------------------------------------------------------------- */

#content {
	width: 80%;
	max-width: 600px;
	padding: 30px 0 45px;
	margin: 45px auto 0;
	text-align: justify;
	-webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}

#content p { margin-bottom: 1em; }
#content ul,
#content ol { margin-bottom: 1.5em; }

#content em {
	text-decoration: underline;
	font-style: italic;
}

#content ol,
#content ul { padding-left: 2px; }
#content ol { list-style-type: decimal; }
#content ul { list-style-type: square; }

#content li {
	line-height: 1.3;
	margin-bottom: 0.5em;
}
article img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}

#content a:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 2px #000;
}

.baseline {
	font-size: 1.2em;
	font-style: italic;
	color: #888;
	text-shadow: 1px 1px 1px #000;
}

/* =Featured
-------------------------------------------------------------- */

#featured {
	clear: both;
}

#featured article {
	margin-bottom: 1em;
}

/* =Posts
-------------------------------------------------------------- */

#posts {
	margin-bottom: 1.5em;
	line-height: 1.2;
}

#posts dd {
	margin-bottom: .7em;
	padding-bottom: .7em;
}

/* =Home
-------------------------------------------------------------- */

#home {
	text-align: left;
}

#home-img {
	float: left;
	margin-left: -360px;
}

#home #posts {
	width: 240px;
	float: left;
}

#home #intro {
	width: 49%;
	float: right;
	margin-bottom: 1.4em;
}

/* =Quotes
-------------------------------------------------------------- */

blockquote span {
	font-style: italic;
	color: #999;
	display: block;
	position: absolute;
}

.open {
	font-size: 4em;
	top: .1em;
	left: -.02em;
}

.close {
	font-size: 2.5em;
	bottom: -.7em;
	right: .2em;
}

/* =Gists
-------------------------------------------------------------- */

.gist, pre {
	font: normal normal normal 0.6em Menlo, DejaVuSansMono, Consolas, monospace;
	margin-bottom: 1em;
}

.gist pre {
	font-size: 1em;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#logo p,
.site-nav a {
	-webkit-text-size-adjust: 120%;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
blockquote,
cite,
a,
strong,
em,
span {
	-webkit-text-size-adjust: 120%;
}

/* =Responsive Adjustments
-------------------------------------------------------------- */

@media (max-width: 708px) {
	body {
		font-size: 1.1875em; /* 16 * 1.1875 = 19px */
	}
	h1 {
		font-size: 2.3em;
	}
	footer,
	#content {
		width: 560px;
	}
	#home-img {
		margin-left: -320px;
	}
	#home #intro {
		width: 220px;
	}
}

@media (max-width: 580px), screen and (-webkit-min-device-pixel-ratio: 2) {
	body {
		font-size: 1.111em; /* 16 * 1.111 = 18px */
	}
	h1 {
		font-size: 2.2em;
	}
	footer,
	#content {
		width: 95%;
		max-width: 100%;
	}
	#content {
		text-align: left;
	}
	#fork-github { display: none; }
	#home-img {
		width: 95%;
		max-width: 300px;
		height: auto;
		margin: 0 auto;
		float: none;
		display: block;
	}
	#home #intro {
		width: auto;
	}

}

/* Retina displays: */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	body {
		font-size: 2em;
	}
	#home-img {
		width: 90%;
		max-width: 600px;
	}
	#content {
		margin-top: 80px; 
	}
}

@media (max-width: 450px) {
	body {
		font-size: 1em;
	}
	h1 {
		font-size: 2em;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	
}