/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);*/
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic);

/* = Reset
-------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0b1 | 201101
	 NOTE: WORK IN PROGRESS
	 USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* = Generic HTML
-------------------------------------------------------------- */

html {
	position: relative;
}
body {
	font-family: Alegreya, Georgia, serif;
	font-size: 1.25em; /* 16 x 1.25 = 20 */
	line-height: 1.5;
	background: #2a2a2a url(../images/bckg-texture.png);
	color: #eee;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	-webkit-font-smoothing: subpixel-antialiased;
	text-align: left;
}

h1 {
	font-size: 2.4em;
	line-height: 1.2;
	margin-bottom: 0.45em;
	text-shadow: 2px 2px 1px #000;
}
h2 {
	font-size: 1.3em;
	margin-bottom: 0.2em;
	color: #8b8b8b;
}
h3 {
	font-size: 1.3em;
	margin: 2em 0 1em;
}

a {
	text-decoration: none;
	color: #f18f25;
}

blockquote {
	font-style: italic;
	font-size: 0.95em; /* 20 x 0.95 = 19 */
	text-align: left;
	position: relative;
	padding: 0 2em;
	margin: 1em 0;
}

cite {
	margin-left: 1.9em;
	font-size: 0.8em; /* 20 x 0.8 = 16 */
	color: #666;
}

strong {
	font-weight: bolder;
}

code {
	font-family: Menlo, "Andale Mono", "DejaVu Sans Mono", Consolas, monospace;
	font-size: 13px;
	display: block;
	margin: 15px auto;
	width: 85%;
	padding: 11px 9px 11px 12px;
	background-color: #1c1c1c;
	text-align: left;
	white-space: pre-wrap;
	text-shadow: 0 1px 1px #000;
}
#content code p:last-child {
	margin-bottom: 0;
}

::-moz-selection { color: #fff; background-color: rgba(128, 37, 0, .7); }
::selection { color: #fff; background-color: rgba(128, 37, 0, .7); }
a::-moz-selection { background-color: rgba(220, 116, 4, .7); }
a::selection { background-color: rgba(220, 116, 4, .7); }

/* = General classes
-------------------------------------------------------------- */

#content .standout {
	width: 100%;
	min-width: 600px;
	margin: 0;
	text-align: left;
	padding: 0.5em 0 1em;
}
#content .standout li {
	list-style: none;
	padding: 10px 12px;
	width: 165px;
	min-height: 60px;
	margin: 0 7px 11px 0;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	background: url(../images/black-20.png);
	font-size: 0.75em; /* 20 x 0.8 = 16 */
	line-height: 1.3em;
}
#content .sites li { min-height: 160px; }
#content .features li { min-height: 120px; }
.standout li .title {
	display: block;
	font-size: 1.125em;
	padding-bottom: 6px;
}

img.in-text {
	float: right;
	margin: 6px 0 2px 8px;
}
img.demo {
	margin-right: 0.5em;
	border: 2px inset #ccc;
	background:url(../images/bckg-transparent.png) repeat;
}

.legal,
.citation {
	font-style: italic;
}
.legal {
	font-size: 0.9em;
}

.link-bottom {
	text-align:center;
	padding-bottom:7px;
	margin:-4px 0 0;
}
.link-bottom a, .link-bottom a:visited {
	font-weight: 400;
}

.center {
	text-align: center;
}

.contact {
	padding-top: 0;
	background: transparent url(../images/separator.gif) no-repeat top center;
}
.contact li,
.link-bottom {
	display: block;
	width: auto;
	min-height: 0;
	border: 0;
	background-color: transparent;
	margin: 0;
	padding: 0.5em 0;
	text-align: center;
}
.contact li:last-child {
	background: transparent url(../images/separator.gif) no-repeat bottom center;
}
.contact a {
	font-weight:normal;
}

/* = Header
-------------------------------------------------------------- */

header {
	background: #ff9727;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	/* height: 2.5em; */ /* 18 x 2.5 = 45 */
	border-bottom: 2px solid #bb4c00;
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.7); -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.7); box-shadow: 0 1px 8px rgba(0,0,0,0.7);
	z-index: 10;
}

header a,
#top-nav-fixed a {
	color: #7e3300;
	-webkit-font-smoothing: subpixel-antialiased;
	text-shadow: 1px 1px 1px #ffa54c;
	line-height: 2.5em; /* 18 x 2.5 = 45 */
}
header a:hover,
#top-nav-fixed a:hover {
	text-decoration: underline;
}

#top-nav,
#top-nav-fixed {
	position: relative;
	top: 0;
	right: 12%;
	/*left: 51%;
	width: 49%;*/
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
#top-nav-fixed {
	position: fixed;
	filter: alpha(opacity=70); opacity: 0.7;
}
.site-nav {
	margin-right: -0.5em;
	padding: 0 0.75em 0 0.25em;
	text-align: left;
}
#top-nav-fixed .site-nav {
	background: url(../images/black-20.png);
}
#top-nav-fixed a {
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px #000;
}

ul.site-nav,
.site-nav li {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
.site-nav li {
	background: url(../images/nav-separator.png) no-repeat 0 21px;
	padding-left: 9px;
}
#top-nav-fixed li { background-image: url(../images/nav-separator-under.png); }
.site-nav li:first-child,
#top-nav-fixed li:first-child { background: none; }

.site-nav a {
	text-transform: uppercase;
	font-size: 0.9em; /* 20 x 0.9 = 18 */
	display: block;
	padding: 0 0.25em;
}
.site-nav .home {
	text-indent: -999em;
	background: url(../images/icon-home.png) no-repeat 6px 10px;
	width: 24px;
	margin-right: 1px;
}
.site-nav .home:hover {
	background-image: url(../images/icon-home-hover.png);
}
#top-nav-fixed .home {
	background-image: url(../images/icon-home-under.png);
}
#top-nav-fixed .home:hover {
	background-image: url(../images/icon-home-under-hover.png);
}

/* = Footer
-------------------------------------------------------------- */

footer  {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	font-size: 0.8em;
	font-style: italic;
	-webkit-font-smoothing: subpixel-antialiased;
	color: #5c5c5c;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	padding: 0.3em 0 0.6em;
	clear: both;
}

/* = Content
-------------------------------------------------------------- */

#content {
	width: 80%;
	max-width: 600px;
	padding: 5px 0 45px;
	margin: 45px auto 0;
	text-align: justify;
	-webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}

#logo {
	margin-bottom: 0.3em;
}
#logo.home {
	margin-bottom: 0.7em;
}
#logo a {
	display: block;
	text-indent: -999em;
	background: url(../images/acustica.png) no-repeat 0 4px;
	width: 300px;
	height: 70px;
}
#logo.home a {
	background: url(../images/acustica-full.png) no-repeat 0 8px;
	width: 600px;
	height: 126px;
}

#content p { margin-bottom: 1em; }
#content ul,
#content ol { margin-bottom: 1.5em; }

#content em {
	font-style: italic;
}

#content ol,
#content ul { padding-left: 2px; }
#content ol { list-style-type: decimal; }
#content ul { list-style-type: square; }

#content li {
	line-height: 1.3;
	margin-bottom: 0.5em;
}
article img {
	/* When images are too wide, force them to fit (see responsive section for more) */
	max-width: 1050px;
	/* Override height to match resized width for correct aspect ratio */
	height: auto;
}
.oversized {
	position: relative;
}

#content a:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 2px #000;
}

.baseline {
	font-size: 1.2em;
	font-style: italic;
	color: #aaa;
	text-shadow: 1px 1px 1px #000;
}

/* = Featured
-------------------------------------------------------------- */

#featured {
	clear: both;
}

#featured article {
	margin-bottom: 1em;
}

/* =Posts
-------------------------------------------------------------- */

#posts {
	margin-bottom: 1.5em;
	line-height: 1.2;
}
#posts dd {
	margin-bottom: .7em;
	padding-bottom: .7em;
}

/* = Post navigation
-------------------------------------------------------------- */

#post-navigation {
	margin: 1.5em 0;
	padding: 0.5em 0 0.2em;
	border-top: 2px groove #333;
	border-bottom: 2px groove #333;
	list-style: none;
}
#post-navigation li {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	width: 50%;
	margin-right: -3px;
	text-align: left;
	font-size: 0.9em;
}
#post-navigation .next { text-align: right; }

/* = Home
-------------------------------------------------------------- */

#home {
	text-align: left;
}

#home-img {
	float: left;
	margin-left: -360px;
}

#home #posts {
	/*width: 240px;
	float: left;*/
}

#home #intro {
	width: 52%;
	float: right;
	margin: 0 -3% 1.4em 0;
}

/* = Quotes
-------------------------------------------------------------- */

blockquote span {
	font-style: italic;
	color: #999;
	display: block;
	position: absolute;
}

.open {
	font-size: 4em;
	top: .1em;
	left: -.02em;
}

.close {
	font-size: 2.5em;
	bottom: -.7em;
	right: .2em;
}

/* = Gists
-------------------------------------------------------------- */

.gist, pre {
	font: normal normal normal 0.6em Menlo, DejaVuSansMono, Consolas, monospace;
	margin-bottom: 1em;
}
.gist pre {
	font-size: 1em;
}

/* = Extension-specific
-------------------------------------------------------------- */

.accordion {
	background-color: #ffecdb;
	padding: 4px 20px 14px;
	border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;
	margin: 5px auto 20px;
}
.accordion p,
.accordion blockquote {
	color: #555;
	text-shadow: 0 1px 1px #ddd;
}
#content .accordion a:hover {
	text-shadow: 1px 1px 2px #fff;
}
.mooblock-title {
	color: #333B62;
	text-align: left;
	background: url(../images/icon-showhide1.png) no-repeat -24px 7px;
	padding-left: 22px;
	margin: 0.7em 0 0;
	text-shadow: none;
	cursor: pointer;
}
	.mooblock-title.expanded {
		background: url(../images/icon-showhide1.png) no-repeat 0 -20px;
	}
.mooblock-el {
	height: 0;
	padding-left: 22px;
}
.showhide2 .mooblock-title {
	color: #333B62;
	text-align: left;
	background: url(../images/icon-showhide2.png) no-repeat -25px 9px;
	padding-left: 22px;
	margin: 0.7em 0 0;
}
	.showhide2 .mooblock-title.expanded {
		background: url(../images/icon-showhide2.png) no-repeat 1px -20px;
	}
.mooblock-el {
	padding-left: 22px;
	font-size: 0.85em;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%;
}
code {
	-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%;
}
#logo p,
.site-nav a {
	-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
blockquote,
cite,
a,
strong,
em,
span {
	-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%;
}

/* = Responsive Adjustments
-------------------------------------------------------------- */
/* Adjust nav for large widths */
@media (min-width: 1130px) {
	#top-nav, #top-nav-fixed { right: 13%; }
}
@media (min-width: 1165px) {
	#top-nav, #top-nav-fixed { right: 14%; }
}
@media (min-width: 1200px) {
	#top-nav, #top-nav-fixed { right: 15%; }
}
@media (min-width: 1300px) {
	#top-nav, #top-nav-fixed { right: 16%; }
}
@media (min-width: 1400px) {
	#top-nav, #top-nav-fixed { right: 18%; }
}
@media (min-width: 1500px) {
	#top-nav, #top-nav-fixed { right: 20%; }
}
@media (min-width: 1600px) {
	#top-nav, #top-nav-fixed { right: 22%; }
}

/* Adjustments for smaller widths */
@media (max-width: 708px) {
	body {
		font-size: 1.1875em; /* 16 x 1.1875 = 19 */
	}
	h1 {
		font-size: 2.3em;
	}
	footer,
	#content {
		width: 560px;
	}
	#home-img {
		margin-left: -320px;
	}
	#home #intro {
		width: 220px;
	}
	#content .standout {
		margin-left: -5px;
	}
	#content .standout li {
		width: 157px;
		margin: 0 6px 9px 0;
	}
}

@media (max-width: 630px) and (-webkit-min-device-pixel-ratio: 2) {
	#content ol,
	#content ul {
		margin-left: 1em;
		padding-left: 4px;
	}
	#content blockquote ol,
	#content blockquote ul {
		margin-left: 0;
	}
}

@media (max-width: 580px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		font-size: 1.111em; /* 16 x 1.111 = 18 */
		line-height: 1.4;
	}
	h1 {
		font-size: 2.2em;
		margin-bottom: 0.3em;
	}
	h3 { margin: 1.3em 0 0.5em; }
	#home #intro { margin-bottom: 1em; }
	#content ul,
	#content ol { margin-bottom: 1.2em; }
	.baseline {
		margin-bottom: 0.9em;
		line-height: 1.3;
	}
	footer,
	#content {
		width: 95%;
		max-width: 100%; /* reset regular max-width value */
	}
	#content {
		text-align: left;
	}
	#home-img {
		width: 95%;
		max-width: 300px;
		height: auto;
		margin: 0 auto;
		float: none;
		display: block;
	}
	#home #intro {
		width: auto;
	}
	#content .standout {
		min-width: 392px;
	}
	#content .standout li {
		width: 175px;
		font-size: 0.8em;
	}
	#content .sites li { min-height: 140px; }
	#content .features li { min-height: 100px; }
}

/* Retina displays only */
@media (-webkit-min-device-pixel-ratio: 2) {
	body {
		font-size: 1.25em; /* 16 x 1.25 = 20 */
	}
	header a,
	#top-nav-fixed a {
		line-height: 2.5em; /* 20 x 2.5 = 50 */
	}

	/*#home-img {
		width: 90%;
		max-width: 600px;
	}
	#content {
		width: 90%;
		margin-top: 80px; 
	}
	#content ol,
	#content ul {
		margin-left: 1em;
		padding-left: 0.5em;
	}
	#content .standout {
		margin-left: 0; padding-left: 0;
	}*/
}

@media (max-width: 800px) {
	body {
		font-size: 1.5em; /* 16 x 1.5 = 24 */
	}
	header a,
	#top-nav-fixed a {
		line-height: 2.08em; /* 24 x 2.08 = 50 */
	}

}
@media (max-width: 450px) {
	body {
		font-size: 1em;
	}
	h1 {
		font-size: 2em;
	}
	#content .standout {
		min-width: 392px;
	}
	#content .standout li {
		width: 160px;
		font-size: 0.9em;
	}
	#content .sites li { min-height: 150px; }
	#content .features li { min-height: 110px; }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	
}