[submodule "js/respond"]
	path = js/respond
	url = git://github.com/scottjehl/Respond.git
[submodule "_sass/retina"]
	path = _sass/retina
	url = https://github.com/joelambert/Retina-Compass-Helpers.git
