---
layout: default
title: Home of web developer Andrew Patton
---

<div class="intro">
	{% include home.html %}
</div>

<div class="recent-posts--featured">
	<h3>Latest</h3>

	{% for post in site.categories.blog offset: 0 limit: site.theme.homepage_featured %}
		{% include post_featured.html %}
	{% endfor %}
</div>

<div class="recent-posts">
	<h3>Older thoughts</h3>

	<dl>
	  {% for post in site.categories.blog offset: site.theme.homepage_featured limit: site.theme.homepage_posts %}
			{% include post_summary.html %}
	  {% endfor %}
	</dl>
	<p><a href="{{ site.base_url }}/archive" class="link--more">View all posts</a></p>
</div>
