// General defaults
$default-text-shadow-color: black
$default-text-shadow-h-offset: 0px
$default-text-shadow-v-offset: 1px
$inline-block-alignment: top
// At the cost of causing some disruptions to vertical rhythm, make sure line-heights do not vary too wildly
$round-to-nearest-half-line: true
