<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<script>
    (function (H) {
        H.className = H.className.replace(/\bno-js\b/, 'js');
    })(document.documentElement); /*.no-js -> .js*/
</script>
<title>{{ page.title }} | {{ site.meta.site_name }}</title>
<meta name="viewport" content="initial-scale=1.0" />
<meta name="author" content="Andrew Patton" />
<link rel="shortcut icon" href="{{ site.base_url }}/favicon.ico" />
<link
    rel="alternate"
    href="{{ site.base_url }}/atom.xml"
    title="{{ site.meta.site_name }}"
    type="application/atom+xml"
/>
<link
    rel="stylesheet"
    href="{{ site.base_url }}/css/style.css?ver=1.9"
    media="all"
/>
<link rel="stylesheet" href="{{ site.base_url }}/css/syntax.css" />
<link href="https://use.typekit.net/iqe8edr.css" rel="stylesheet" />
