	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)/*.no-js -> .js*/</script>
	<title>{{ page.title }} | {{ site.theme.site_name }}</title>
	<meta name="viewport" content="initial-scale=1.0">
	<meta name="author" content="Andrew Patton">
	<link rel="shortcut icon" href="{{ site.base_url }}/favicon.ico">
	<link rel="alternate" href="{{ site.base_url }}/atom.xml" title="{{ site.theme.site_name }}" type="application/atom+xml">
	<link rel="stylesheet" href="{{ site.base_url }}/css/style.css?ver=1.5" media="all">
	<link rel="stylesheet" href="{{ site.base_url }}/css/syntax.css">
	<script src="//use.edgefonts.net/gentium-book-basic:n4,n7,i4,i7.js"></script>
	<script src="//use.edgefonts.net/bitter:n4,n7,i4.js"></script>
	<script src="//use.edgefonts.net/volkhov:n4,n7,i4,i7.js"></script>
	<script src="//use.edgefonts.net/indie-flower:n4.js"></script>
	<script src="//use.edgefonts.net/acme:n4.js"></script>
	<script src="//use.edgefonts.net/merienda-one:n4.js"></script>
	<script src="//use.edgefonts.net/rancho:n4.js"></script>
	<script src="//use.edgefonts.net/bad-script:n4.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="{{ site.base_url }}/js/respond/respond.min.js"></script>
	<![endif]-->
