		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" class="top-nav">
			<ul class="site-nav">
				<li><a itemprop="url" href="{{ site.base_url }}/" title="{{ site.meta.site_name }} home" class="home">Home</a></li>
				<li><a itemprop="url" href="{{ site.base_url }}/archive/" title="Archive of all posts" class="archive">Blog</a></li>
				<li><a itemprop="url" href="{{ site.base_url }}/about/" title="About Andrew Patton, the author" class="about">About me</a></li>
				<li><a itemprop="url" href="{{ site.base_url }}/resume/" title="My resume / C.V." class="resume">Résumé</a></li>
				<li><a itemprop="url" href="{{ site.base_url }}/work/" title="See examples of my work" class="work">Work</a></li>
			</ul>
		</nav>
