<h1>Work</h1>
<h2>Sites / projects I have worked on</h2>
<ul class="standout sites">
	<li><a href="http://www.peterhoffer.com/" class="title">Peter Hoffer</a> built an intuitive and powerful portfolio site with WordPress by extending its built-in attachments functionality to be much more robust</li>
	<li><a href="http://www.jonview.com/" class="title">Jonview</a> rebuilt the frontend <a href="http://www.jonview.com/imagebank/">search</a> and product pages using jQuery-based JS to enhance the UI and implemented a site wide HTML5-based redesign</li>
	<li><a href="http://www.cha-noir.com/" class="title">Cha Noir</a> built a website with product catalogue for a Montréal tea shop with WordPress and the <a href="https://shopplugin.net/">Shopp plugin</a></li>
	<li><a href="http://www.canadianpickers.com/" class="title">Canadian Pickers</a> built the online auction marketplace for the TV show using WordPress with the <a href="http://prospress.org/">Prospress plugin</a> and a huge amount of custom theme and plugin development</li>
	<li><a href="http://www.ableandhow.com/" class="title">Able and How</a> rebuilt their site to run entirely within WordPress, integrating their B2B communication site with their blog, and implemented their redesign</li>
	<li><a href="http://www.hautetremblant.com/" class="title">Haute Tremblant</a> built a showcase site for high-end real estate in Tremblant, Québec using the simple and intuitive <a href="http://www.thesecretary.org/">The Secretary CMS</a></li>
	<li><a href="http://www.c3solutions.com/" class="title">C3 Solutions</a> rebuilt their website to run on a powerful and flexible CMS (based on Joomla and many output overrides)</li>
	<li><a href="http://www.cldstationery.com/" class="title">CLD Stationery</a> built the UK-based stationery company’s online webshop with Joomla, VirtueMart, and significant custom programming</li>
	<li><a href="http://www.forgetfulnotforgotten.com/" class="title">Forgetful Not Forgotten</a> built a full-featured social networking website for Alzheimer’s caregivers and patients with Joomla, <a href="http://www.joomlapolis.com/">Community Builder</a>, and custom programming</li>
</ul>
<h2>CMS extensions</h2>
<ul class="standout">
	<li><a href="https://github.com/acusti/pp-notifications" class="title">Prospress Notifications</a> a WordPress plugin that provides notification support for events in <a href="http://prospress.org/">Prospress</a></li>
	<li><a href="https://github.com/acusti/posthaste" class="title">Posthaste 2.0</a> a WordPress plugin that generates a robust and highly customizable front-end editor for creating new content</li>
	<li><a href="vm-full-category-list-menu-module" class="title">VirtueMart Full Category List Module</a> a Joomla module that can display a menu for all VirtueMart categories to any depth</li>
	<li><a href="mooaccordion-joomla-accordion-article-plugin" class="title">MooAccordion Show/Hide plugin</a>an ultra lightweight Joomla plugin for creating accordion show/hide blocks in articles</li>
</ul>