%button
	display: inline-block
	background: $color-accent-dark
	color: white
	border: none
	font-family: $body-text-family
	+adjust-font-size-to(18px)
	cursor: pointer

	code
		background-color: rgba($color-bkg-code, 0.5)
