article .standout,
.page--work .page > ul
	width: 100%
	margin: 0
	text-align: left
	padding: 0.5em 0 1em

	@media (min-width: $medium-width + 150)
		width: 110%
		margin-left: -5%

	@media (min-width: $total-width * 1.2 + 30)
		width: 120%
		margin-left: -10%

	li
		list-style: none
		padding: 10px 12px
		width: 31.75%
		min-height: 60px
		margin: 0 7px 11px 0
		display: inline-block
		vertical-align: top
		background-color: rgba(black, 0.15)

		> a:first-child,
		.title
			display: block

		@media (min-width: $total-width + 100)
			width: 32%

		@media (max-width: $medium-width + 150)
			width: 48%

		@media (max-width: $medium-width - 120)
			width: 47%

		@media (max-width: $narrow-width)
			width: 100%
			background: none

			> a:first-child,
			> p > a:first-child,
			.title
				margin-left: -12px
				padding-left: 12px

article
	.sites li
		min-height: 160px

		@media (max-width: $narrow-width)
			min-height: 140px

	.features li
		min-height: 120px

		@media (max-width: $narrow-width)
			min-height: 120px
