article img
	// When images are too wide, force them to fit (see responsive section for more)
	max-width: 100%
	// Override height to match resized width for correct aspect ratio
	height: auto

img
	&.in-text
		float: right
		margin: 6px 0 2px 8px
	&.demo
		margin-right: 0.5em
		border: 2px inset #cccccc
		background: url(../images/bckg-transparent.png) repeat

.main-content > article
	.oversized
		+box-sizing(border-box)
		width: 100%
		max-width: 100%
		padding: 0 10px
		margin-bottom: 2em

		img
			display: block
			margin: 0 auto

		@media (max-width: $narrow-width)
			padding: 0

			img
				position: relative
				max-width: 150%
				// Center it horizontally
				left: 50%
				transform: translate(-50%, 0)

	.post__splash
		position: relative
		width: 124%
		left: -12%
		padding: 0
		margin-bottom: 1em
		overflow: hidden
		max-height: 400px

		> img
			margin-left: auto
			margin-right: auto


		@media (max-width: $narrow-width)
			max-width: 120%
			width: 120%
			margin-left: -10%

			.no-js &
				max-width: 100%
				width: 100%
				margin-left: 0


	// Animate padding-top of following block-level element
	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ ul,
	+ ol,
	+ p,
	+ div
		+transition(padding-top $transition-duration-move)

.has-post__splash
	#logo
		display: none
	.post
		> :nth-child(2)
			padding-top: 375px

.post__splash
	left: 0
	right: 0
	overflow: hidden

	> img
		max-height: 375px

	.no-js &
		// With no-js version, compensate for extra padding on title
		margin-bottom: -75px

.post__splash--credit
	+adjust-font-size-to(13px, 0.75)
	font-style: italic
	color: $color-text-disabled
	text-shadow: 1px 1px 1px black
	// Compensate for huge top padding on post heading (next element)
	margin-bottom: -81px

	p
		margin: 0
