.post
	+margin-trailer(2)

.post__date
	font-weight: 200
	+adjust-font-size-to(15px, 1)
	+margin-trailer(0.5)
	color: $color-text-muted
	-webkit-font-smoothing: antialiased

.post .baseline
	+margin-leader(-0.5)
