// = Variables
// $body-text-family: bitter, Georgia, serif
$body-text-family: volkhov, Georgia, serif
$header-text-family: $body-text-family
// $header-text-family: indie-flower, sans-serif
$mono-family: Menlo, "Andale Mono", "DejaVu Sans Mono", Consolas, monospace
$base-block-elements: "h5, p, ul, ol, dl"

// Placeholders
%drop-cap
	&::first-letter
		float: left
		font-size: 5.29em
		line-height: 1
		margin: -0.05em 0 -0.15em
		padding: 0 0.07em 0 0
		// Once widely supported, use initial letter
		// initial-letter: 3
		color: $color-accent-dark-alt
		@media (max-width: $narrow-width)
			initial-letter: 2


// Vertical rhythm baseline
+establish-baseline

body
	font-family: $body-text-family
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	@media (max-width: $narrow-width)
		+adjust-font-size-to(18px)
		header a, #top-nav-fixed a
			+adjust-font-size-to(18px, 2.78) // 18 x 2.78 = 50

h1, h2, h3, h4, h5
	color: $color-text
	text-shadow: 1px 1px 1px black
	text-align: left

h1, h2
	font-weight: 400
	-webkit-font-smoothing: subpixel-antialiased

h3, h4, h5
	font-weight: 700

h1
	font-family: $header-text-family
	+adjust-font-size-to(48px, 2)
	+rhythm(0, 0, 0, 1)
	text-shadow: 2px 2px 1px black
	@media (max-width: $narrow-width)
		+adjust-font-size-to(38px, 1.5)

h2
	+adjust-font-size-to(28px, 1.5)
	+rhythm(0, 0, 0, 1)
	color: $color-text-muted
	@media (max-width: $narrow-width)
		+adjust-font-size-to(24px, 1.25)

h3
	+adjust-font-size-to(23px, 1.25)
	+rhythm(1, 0, 0, 1)

h4
	+adjust-font-size-to(20px, 1.25)
	+rhythm(0, 0, 0, 1)

h5
	+rhythm(0, 0, 0, 0.5)

a
	text-decoration: none
	color: $color-accent

// In content div, use underline on hover
body > div
	a:hover
		text-decoration: underline
		text-shadow: 1px 1px 2px black

// = BEGIN - Quotes
blockquote
	+adjust-font-size-to(17px, 1)
	font-style: italic
	color: $color-text-muted
	text-align: left
	span
		position: absolute
		display: block
		font-style: italic
		color: $color-text-muted

.open
	font-size: 4rem
	top: .1em
	left: -.02em

.close
	font-size: 2.5rem
	bottom: -.7em
	right: .2em
// = END - Quotes

// Gists / code

.gist,
pre
	text-align: left
	white-space: pre-wrap
	margin-bottom: 1em

code
	font-family: $mono-family
	text-shadow: 0 1px 1px black

ins
	text-decoration: none

del
	text-decoration: line-through

// Content
// -------
article
	p
		+rhythm(0, 0, 0, 1)

	ul, ol
		+rhythm(0, 0, 0, 1.5)
		@media (max-width: $narrow-width)
			+rhythm(0, 0, 0, 1)
	em
		font-style: italic
	ol, ul
		padding-left: 2px
	ol
		list-style-type: decimal
	ul
		list-style-type: square
	li
		line-height: inherit
		margin-bottom: 0.5em

.baseline
	+adjust-font-size-to(22px)
	+rhythm-margins(0, 0.5, 22px)
	font-style: italic
	color: $color-text-muted
	text-shadow: 1px 1px 1px black

article.post,
article.page,
article.intro
	> p:first-of-type
		@extend %drop-cap

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
 *-------------------------------------------------------------- */

pre, code, h1, h2, h3, h4, h5, p, li, th, td, blockquote, cite, a, strong, em, span
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	text-size-adjust: 100%
