@import url(http://fonts.googleapis.com/css?family=Lato:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Lato:700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400);
/* putting 400 regular last for Opera (see http://stackoverflow.com/a/9827946/333625)
/* @import url(http://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic); */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic); */

/* I prefer Lato and "Open Sans", I think */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Typography (and general)
 */
html {
	/*background: #eee url(../img/furley-warm.png);*/
	background: #ccc;
}
body {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 100%;
	white-space: nowrap; /* keep search controls and results on same line */
	padding: 0; margin: 0;
}
body * {
	white-space: normal;
}
h1,
h2,
h3,
h4 {
	margin: 1em 0 0;
	line-height: 1.3em;
	font-weight: 700;
}
h1 {
	font-size: 1.5em;
	text-shadow: 2px 2px 1px #000;
	line-height: 1.16em;
}
h2,
h3 {
	text-shadow: 1px 1px 1px #000;
}
h2 { font-size: 1.25em; }

p,
td {
	line-height: 1.3em;
}
p {
	margin: 0.3em 0 1em;
}

b { font-weight: 400; }
strong { font-weight: 700; }
i,
em { font-style: italic; }

input,
select {
	font-size: 1em;
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	width: auto; overflow: visible; /* IE 7 input button fix */
}
input[type="submit"],
input[type="reset"],
button,
.button {
	-moz-appearance: none; -webkit-appearance: none;
	background: #8e8e8e url(../img/button.png) repeat-x 0 1px;
	padding: 4px 6px;
	border: 1px solid #fff;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	cursor: pointer;
}
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
	border-color: #666;
	background-position: 0 -18px;
	padding: 5px 6px 3px;
}

/* Header */
header {
	/*background: #333 url(http://subtlepatterns.com/patterns/zigzag.png);
	background: #333 url(http://subtlepatterns.com/patterns/triangles.png);
	background: #333 url(http://subtlepatterns.com/patterns/black_denim.png);
	background: #333 url(http://subtlepatterns.com/patterns/dark_brick_wall.png);
	background: #333 url(http://subtlepatterns.com/patterns/dark_Tire.png);
	background: #333 url(http://subtlepatterns.com/patterns/tactile_noise.png); */
	background: #222 url(http://subtlepatterns.com/patterns/dark_wood.png);
	border-bottom: 2px groove #666;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.6); box-shadow: 0 0 2px rgba(0,0,0,0.6);
	color: #fff;
	text-shadow: 2px 2px 1px #000;
}
header h1 {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	padding: 0 30px;
	margin: 0;
}
header h1 i {
	display: block;
	line-height: 1.16em;
	padding-top: 7px;
}
header .fr,
header .en {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	padding: 16px 0 16px 20px;
	width: 110px;
	margin: 0;
	font-weight: 400;
	font-size: 1em;
}
header .fr { width: 115px; }
header .fr strong,
header .en strong {
	display: block;
	font-size: 1.25em;
	line-height: 1.3em;
}
.logo {
	display: block;
	position: absolute;
	top: 0.25em;
	right: 1.5em;
	z-index: 1;
	background: url(../img/reseau-network-logo.png) no-repeat;
	width: 92px;
	height: 189px;
	/*float: right;
	margin: 0.25em 2em 0 0;*/
}

/* Results table */
table {
	width: 100%;
}
th,
td {
	padding: 4px 6px;
	border: 0;
	background: transparent;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	background-color: #4b4847;
	color: #fff;
	font-size: 0.8em;
	font-weight: 700;
	text-shadow: 1px 1px 1px #222;
	padding: 5px 6px;
}
#results th {
	padding: 3px 6px 4px;
}
th i { display: block; }
tr {
	border-bottom: 1px solid lightgrey;
}
tr:nth-child(even) { background: #eee url(../img/furley.png); }
td {
	border: 0;
	border-collapse: collapse;
	font-size: 0.75em;
	cursor: pointer;
}
td.no-results {
	padding: 1.5em 1em;
	font-size: 1em;
	cursor: auto;
}
tr:hover td {
	background: -webkit-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 30%, rgba(190,223,191,0) 70%, rgba(190,223,191,0.7) 100%);
	background: -moz-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 30%, rgba(190,223,191,0) 70%, rgba(190,223,191,0.7) 100%);
	background: -o-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 30%, rgba(190,223,191,0) 70%, rgba(190,223,191,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 30%, rgba(190,223,191,0) 70%, rgba(190,223,191,0.7) 100%);
	background: linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 30%, rgba(190,223,191,0) 70%, rgba(190,223,191,0.7) 100%);
}
tr:hover td.no-results {
	background: none;
}
tr.expanded:hover td {
	background: -webkit-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 10%, rgba(190,223,191,0) 90%, rgba(190,223,191,0.7) 100%);
	background: -moz-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 10%, rgba(190,223,191,0) 90%, rgba(190,223,191,0.7) 100%);
	background: -o-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 10%, rgba(190,223,191,0) 90%, rgba(190,223,191,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 10%, rgba(190,223,191,0) 90%, rgba(190,223,191,0.7) 100%);
	background: linear-gradient(top, rgba(190,223,191,0.7) 0%, rgba(190,223,191,0) 10%, rgba(190,223,191,0) 90%, rgba(190,223,191,0.7) 100%);
}
#master { display: none; }

#services-search,
#results-wrap {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	position: relative; /* so we can use z-index */
}
#results-wrap {
	margin: 14px 0 2.5em -10px;
	width: 74%;
	overflow: hidden;
}
#results {
	width: 98%;
	padding: 8px 8px 8px 13px;
	padding: 0 0 2px 6px;
	min-height: 525px;
	background: #fff url(../img/paper.png);
	border: 1px solid #6f6d6c;
}
.note {
	margin: 0;
	padding: 15px 20px 0;
}
.note:first-child {
	margin-top: 10px;
}
#results th.A-head {
	min-width: 138px;
	padding-left: 9px;
}
td.A {
	padding-left: 9px;
}
#results td.G {
	max-width: 100px;
}
#results td.A {
	max-width: 190px;
}
#results td.I,
#results td.J {
	max-width: 230px;
}

#details {
	position: absolute;
	top: -99em;
	padding: 0.9em 1.1em;
	border-top: 0;
}
#details > b {
	font-size: 0.75em;
	line-height: 1.3;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	margin: 0 3em 0.8em 0;
}
#details > b.F {
	display: block;
	width: auto;
	margin: 0;
}
#details strong {
	display: block;
}

/* Search controls */
#services-search {
	width: 25%;
	min-width: 232px;
	max-width: 260px;
	margin-left: 8px;
	z-index: 1;
}
fieldset {
	/* light texture */
	/*background: #d3d3d3 url(../img/husk.png);
	color: #000;*/
	/*background-color: #4b4847;
	color: #fff;*/
	background-color: rgb(190,223,191);
	color: rgb(34, 70, 70);
	border: 4px groove #999;
	border-right: 2px ridge #999;
	border-bottom-style: ridge;
	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
	margin: 10px 0;
	/* padding: 10px 0 4px 12px; */
	padding: 0;
	font-size: 0.9em;
	-moz-box-shadow: 2px 0 3px rgba(0,0,0,0.2); -webkit-box-shadow: 2px 0 3px rgba(0,0,0,0.2); box-shadow: 2px 0 3px rgba(0,0,0,0.2);
	/*overflow: hidden;*/
}
fieldset h2 {
	background-color: #1e1d1d;
	color: #fff;
	border-bottom: 1px solid #999;
	border-right: 2px groove #999;
	-moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px;
	/*border-top: 3px solid #888;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	-moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-to-right-radius: 0;*/
	/* padding: 7px 15px 8px; */
	padding: 7px 16px 7px 12px;
	font-size: 1.1em;
	margin: 0 0 5px;
	text-align: right;
}
fieldset input,
fieldset select {
	max-width: 200px;
}
legend b,
legend i { font-weight: 700; }
fieldset > label,
fieldset > .radio,
fieldset > .checklist,
fieldset > .input-with-suggestions {
	display: block;
	/* background-color: #f3f3f3; */
	padding: 0 10px 10px;
	/* margin: 0 12px 10px 0; */
	margin: 0 8px 0 0;
	text-align: right;
	overflow: hidden; /* clear floats */
	line-height: 1.3em;
	/* text-shadow: 1px 1px 1px #f0f0f0; */
	/*text-shadow: 1px 1px 1px #222;*/
	text-shadow: 1px 1px 1px rgb(215,248,216);
}
fieldset > .input-with-suggestions { overflow: visible; }
fieldset > .input-with-suggestions .highlighted { text-shadow: 0 0 0; }
fieldset > .checklist.geographic { margin-right: 0; padding: 0 0 0 2px; }
.geographic > b:first-child { margin-right: 18px; }
label > b,
.radio > b,
.checklist > b {
	display: block;
	line-height: 1.3em;
	/*float: left;
	max-width: 49%;
	min-height: 38px;*/
	padding: 0 0 7px;
}
.radio .choices,
.checklist .choices {
	/*width: 47%;*/
	float: right;
	font-weight: 700;
	font-size: 0.928em; /* 14 x 0.928 = 13 */
	text-indent: -24px; /* make room for radio button / checkbox when line wraps */
	padding-left: 0 0 0 24px;
	text-align: left;
}
.geographic .choices {
	text-align: right;
	text-indent: 0; padding-left: 0; padding-right: 10px;
}
.geographic .choices > label > i {
	display: block;
	padding-left: 24px;
	padding-left: 20px;
	margin-top: -4px;
}
.radio label,
.checklist label,
.input-with-suggestions label {
	white-space: nowrap;
	display: block;
}
.input-with-suggestions label {
	overflow: visible;
}
.geographic .choices label {
	font-size: 0.857em;
	width: 49%;
	padding-bottom: 3px;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	text-align: left;
}
label > b > i,
.radio > b > i,
.checklist > b > i {
	display: block;
	margin-top: -2px;
}
label > input[type="text"] {
	width: 75%;
}
p.buttons {
	display: block;
	width: 100%;
	padding: 0 10px 10px 5px;
	margin: 1em 0;
}
label input,
label select {
	/* float: right; */
}
label input[type="radio"],
label input[type="checkbox"] {
	float: none;
	margin-right: 8px;
}
.geographic label input {
	margin-right: 5px;
}
input[type="submit"] {
	font-weight: 700;
	float: right;
	margin-right: 15px;
}

/**
 * Responsive layout
 */

/* Adjust nav for large widths */
@media (min-width: 975px) {
	header h1 { padding: 0 35px; }
}
@media (min-width: 1000px) {
	header h1 { margin: 0 1em 0 0; }
}
@media (min-width: 1200px) {
	#top-nav, #top-nav-fixed { right: 15%; }
}
@media (min-width: 1300px) {
	#top-nav, #top-nav-fixed { right: 16%; }
}
@media (min-width: 1400px) {
	#top-nav, #top-nav-fixed { right: 18%; }
}
@media (min-width: 1500px) {
	#top-nav, #top-nav-fixed { right: 20%; }
}
@media (min-width: 1600px) {
	#top-nav, #top-nav-fixed { right: 22%; }
}

/* Adjustments for smaller widths */
@media (max-width: 950px) {
	header h1 { padding: 0 29px 0 25px; }
}
@media (max-width: 940px) {
	header h1 { padding: 0 28px 0 20px; }
}
@media (max-width: 930px) {
	header h1 { padding: 0 27px 0 12px; }
}
@media (max-width: 920px) {
	header h1 { padding: 0 5px 0 25px; }
}
@media (max-width: 910px) {
	#results-wrap { width: 73%; }
}
@media (max-width: 885px) {
	header h1 { width: 47%; }
}
@media (max-width: 875px) {
	#results-wrap { width: 72%; }
}
@media (max-width: 833px) {
	body {
		font-size: 94%;/* 16 x 0.9375 = 15 */
	}
	header .fr { width: 113px; }
	header .en { width: 105px; }
	#results-wrap { width: 71%; }
}
@media (max-width: 800px) {
	#results-wrap { width: 70%; }
}
@media (max-width: 777px) {
	#results-wrap { width: 69%; }
}
@media (max-width: 765px) {
	header h1 { width: 40%; }
	header .fr,
	header .en { padding-left: 15px; }
	#results-wrap { width: 68%; }
}
@media (max-width: 755px) {
	#services-search {
		display: block;
		width: auto;
		min-width: 0;
		max-width: 100%;
		margin-left: 8px;
		z-index: 1;
	}
	fieldset {
		border: 4px groove #aaa;
		border-bottom: 2px groove #aaa;
		-moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px;
		-moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0;
		margin-bottom: 0;
		/* padding: 10px 0 4px 12px; */
		font-size: 0.9em;
		-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2); box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	}
	fieldset h2 {
		-moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px;
		text-align: center;
	}
	#results-wrap {
		display: block;
		margin: -10px 0 0;
		width: auto;
	}
	fieldset > label,
	fieldset > .radio,
	fieldset > .checklist {
		display: inline-block;
		/* background-color: #555; */
		vertical-align: top;
		zoom: 1;
		*display: inline;
		width: 45%;
		padding: 10px;
		margin: 0 8px 10px 0;
		overflow: hidden; /* clear floats */
	}
	label > b,
	.radio > b,
	.checklist > b {
		display: block;
		float: left;
		max-width: 49%;
		min-height: 38px;
		padding-right: 10px;
	}
	.radio .choices,
	.checklist .choices {
		width: 47%;
		float: right;
	}
	.radio label {
		white-space: nowrap;
		display: block;
	}
	label > b > i,
	.radio > b > i {
		display: block;
	}
	label > input[type="text"] {
		width: 49%;
	}
	label input,
	label select {
		float: right;
	}
	label input[type="radio"],
	label input[type="checkbox"] {
		float: none;
	}
}
@media (max-width: 745px) {
	
}




/* Search controls (old)
fieldset {
	background-color: #333;
	color: #fff;
	border: 0;
	/* border: 2px solid #333; *//*
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	margin: 10px 0;
	padding: 10px 0 20px 14px;
}
fieldset legend {
	background-color: #333;
	color: #fff;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	font-weight: bold;
	padding: 7px 15px 8px;
	font-size: 1.25em;
	margin-left: 0.75em;
}
fieldset > label,
fieldset > .radio {
	display: inline-block;
	background-color: #555;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	width: 45%;
	padding: 10px;
	margin: 0 8px 10px 0;
	overflow: hidden; /* clear floats *//*
}
label > b,
.radio > b {
	display: block;
	float: left;
	max-width: 49%;
	min-height: 38px;
	padding-right: 10px;
}
.radio .choices {
	width: 47%;
	float: right;
}
.radio label {
	white-space: nowrap;
	display: block;
}
label > b > i,
.radio > b > i {
	display: block;
}
label > input[type="text"] {
	width: 49%;
}
p.buttons {
	display: block;
	width: 100%;
	padding: 20px 0;
}
label input,
label select {
	float: right;
}
label input[type="radio"] {
	float: none;
}
*/

/**
 * Chosen CSS (http://harvesthq.github.com/chosen/)
 */
 /* @group Base */
.chzn-container {
	font-size: 13px;
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;
	text-align: left;
}
.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #aaa;
	border-top: 0;
	position: absolute;
	top: 29px;
	left: 0;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
	-moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
	-o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
	box-shadow        : 0 4px 5px rgba(0,0,0,.15);
	z-index: 1010;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );   
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
	background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); 
	-webkit-border-radius: 5px;
	-moz-border-radius   : 5px;
	border-radius        : 5px;
	-moz-background-clip   : padding;
	-webkit-background-clip: padding-box;
	background-clip        : padding-box;
	border: 1px solid #aaaaaa;
	-webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 23px;
	line-height: 24px;
	padding: 0 0 0 8px;
	color: #444444;
	text-decoration: none;
}
.chzn-container-single .chzn-default {
	color: #999;
}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(../img/chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
	background-position: right -11px;
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 18px;
}
.chzn-container-single .chzn-single div b {
	background: url(../img/chosen-sprite.png) no-repeat 0 0;
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container-single .chzn-search {
	padding: 3px 4px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
}
.chzn-container-single .chzn-search input {
	background: #fff url(../img/chosen-sprite.png) no-repeat 100% -22px;
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	outline: 0;
	border: 1px solid #aaa;
	font-size: 1em;
}
.chzn-container-single .chzn-drop {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius   : 0 0 4px 4px;
	border-radius        : 0 0 4px 4px;
	-moz-background-clip   : padding;
	-webkit-background-clip: padding-box;
	background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	border: 1px solid #aaa;
	margin: 0;
	padding: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	position: relative;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 2px 0;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-size: 100%;
	height: 15px;
	padding: 3px 5px;
	margin: 1px 0;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow   : none;
	-o-box-shadow     : none;
	box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
	color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	-moz-background-clip   : padding;
	-webkit-background-clip: padding-box;
	background-clip        : padding-box;
	background-color: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;
	border: 1px solid #aaaaaa;
	line-height: 13px;
	padding: 3px 19px 3px 5px;
	margin: 3px 0 0 5px;
	position: relative;
	cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
	background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(../img/chosen-sprite.png) right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
	background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
	margin: 0 4px 4px 0;
	max-height: 240px;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
	margin: -1px 0 0;
	padding: 0;
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 15px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: rgb(130,163,131);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cbfa1', endColorstr='#7ea183', GradientType=0 );  
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, rgb(160,193,161)), color-stop(90%, rgb(130,163,131)));
	background-image: -webkit-linear-gradient(top, rgb(160,193,161) 20%, rgb(130,163,131) 90%);
	background-image: -moz-linear-gradient(top, rgb(160,193,161) 20%, rgb(130,163,131) 90%);
	background-image: -o-linear-gradient(top, rgb(160,193,161) 20%, rgb(130,163,131) 90%);
	background-image: -ms-linear-gradient(top, rgb(160,193,161) 20%, rgb(130,163,131) 90%);
	background-image: linear-gradient(top, rgb(160,193,161) 20%, rgb(130,163,131) 90%);
	color: #fff;
}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
	background: transparent;
}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999;
	font-weight: bold;
}
.chzn-container .chzn-results .group-option {
	padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 321px; /* This should by dynamic with js */
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {
	bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
	background: url(../img/chosen-sprite.png) no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
	background: url(../img/chosen-sprite.png) no-repeat -22px -3px;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
	box-shadow        : 0 0 5px rgba(0,0,0,.3);
	border: 1px solid rgb(34, 90, 80);
}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow   : 0 1px 0 #fff inset;
	-o-box-shadow     : 0 1px 0 #fff inset;
	box-shadow        : 0 1px 0 #fff inset;
	background-color: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	-webkit-border-bottom-left-radius : 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft : 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
	background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
	box-shadow        : 0 0 5px rgba(0,0,0,.3);
	border: 1px solid rgb(34, 90, 80);
}
.chzn-container-active .chzn-choices .search-field input {
	color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
	cursor: default;
	opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}

/* @group Right to Left */
.chzn-rtl { text-align: right; }
.chzn-rtl .chzn-single { padding: 0 8px 0 0; overflow: visible; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; direction: rtl; }

.chzn-rtl .chzn-single div { left: 3px; right: auto; }
.chzn-rtl .chzn-single abbr {
	left: 26px;
	right: auto;
}
.chzn-rtl .chzn-choices .search-field input { direction: rtl; }
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 5px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 4px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 15px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
	background: #fff url(../img/chosen-sprite.png) no-repeat -38px -22px;
	background: url(../img/chosen-sprite.png) no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url(../img/chosen-sprite.png) no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);  
	background: url(../img/chosen-sprite.png) no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	padding: 4px 5px 4px 20px;
	direction: rtl;
}
/* @end */
