/* = Header
 *-------------------------------------------------------------- */

// Menubar
.header-menubar
	background: $color-accent
	position: absolute
	top: 0
	left: 0
	width: 100%
	text-align: right
	border-bottom: 2px solid $color-accent-dark
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7)
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7)
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7)
	z-index: 10

// Navigation elements
.top-nav
	position: relative
	display: inline-block
	top: 0
	right: 4%
	//left: 51%
	//width: 49%
	/* Adjust nav for large widths */
	@media (min-width: 900px)
		right: 5%

	@media (min-width: 1000px)
		right: 7%

	@media (min-width: 1100px)
		right: 10%

	@media (min-width: 1250px)
		right: 12%

	@media (min-width: 1400px)
		right: 14%

	// Adjust nav for smaller widths
	@media (max-width: $medium-width)
		display: block
		right: 0
		text-align: center

ul.site-nav
	display: inline-block
	vertical-align: top
	margin-right: -0.5em
	padding: 0 0.75em 0 0.25em
	text-align: left
	white-space: nowrap

	// Don't show “About Me” link on mobile
	@media (max-width: $narrow-width)
		li:nth-child(3)
			display: none

	li
		display: inline-block
		padding-left: 9px

		@media (max-width: $narrow-width)
			padding-left: 4px

		&:before
			position: absolute
			content: ""
			margin-top: 24px
			margin-left: -8px
			width: 4px
			height: 4px
			background-color: $color-bkg

			@media (max-width: $narrow-width)
				margin-left: -6px

		&:first-child:before
			display: none

	a
		font-size: 1.3rem
		line-height: 2
		-webkit-font-smoothing: subpixel-antialiased
		color: $color-bkg
		text-transform: uppercase
		display: block
		padding: 3px 0.25em 0px

		&:hover
			background-color: rgba($color-accent-dark, 0.25)
