.home__intro
	@extend %main-column
	display: flex

	> p
		width: 100%
		max-width: 100%

		&:first-child
			margin-left: -25px
			margin-right: 15px
			@media (max-width: $medium-width)
				display: none

		a
			+hyphens(none)

	.link--more
		margin-top: 0px
		float: right
