.home__image
	@media (max-width: $medium-width)
		display: none

.home__intro
	@extend %main-column
	display: flex

	> p
		width: 100%
		max-width: 100%

		&:first-child
			@media (max-width: $medium-width)
				display: none

	.link--more
		margin-top: 0px
		float: right
