/* = Main Content Area
 *-------------------------------------------------------------- */

%main-column
	margin-left: auto
	margin-right: auto
	width: 83%
	max-width: $max-width

	@media (max-width: $narrow-width)
		width: 90%

.main-content
	padding: 5px 0 45px
	margin-top: 42px
	text-align: justify
	+hyphens(auto)

	@media (max-width: $narrow-width)
		text-align: left
		margin-top: 38px

	> section,
	> h1,
	> h2,
	> ul,
	> ol,
	> p,
	> div,
	> article > *
		@extend %main-column

#logo
	font-family: $logo-text-family
	// to avoid conflicting with the sass min/max function, capitalize them
	font-size: Max(78px, Min(120px, 15vw))
	line-height: Max(66px, Min(110px, 13vw))
	text-align: center
	white-space: nowrap
	+hyphens(none)
	margin: 2.5rem auto 0

	a:hover
		background-image: none
		color: $color-accent-dark
