/* = Main Content Area
 *-------------------------------------------------------------- */

%main-column
	margin-left: auto
	margin-right: auto
	width: 83%
	max-width: $max-width

	@media (max-width: $narrow-width)
		width: 90%

.main-content
	padding: 5px 0 45px
	margin-top: 42px
	text-align: justify
	+hyphens(auto)

	@media (max-width: $narrow-width)
		text-align: left
		margin-top: 38px

	> section,
	> h1,
	> h2,
	> ul,
	> ol,
	> p,
	> div,
	> article > *
		@extend %main-column

#logo
	margin: 1.5rem auto 1rem
	
	a
		display: block
		max-width: 560px
		margin: 0 auto
		
		svg
			fill: $color-accent
			width: 100%
	
		&:hover
			background-image: none
			text-decoration: none

			svg
				fill: $color-accent-dark
