.category-blog
	#logo
		display: none

article.post
	+margin-trailer(1)

	// No post splash
	> h1:first-child
		margin-top: 0.5em

	.baseline
		+margin-leader(-0.5)

.post__date
	font-size: 1rem
	+margin-trailer(0.5)
	color: $color-text-muted
