// = Variables
$body-text-family: ff-avance-pro, georgia, serif
$header-text-family: $body-text-family
$mono-family: Menlo, "Andale Mono", "DejaVu Sans Mono", Consolas, monospace
$base-block-elements: "h5, p, ul, ol, dl"

// Placeholders
%drop-cap
	&::first-letter
		font-family: "times new roman", serif
		float: left
		font-size: 6.3rem
		font-weight: 400
		line-height: 0.8
		margin-top: -0.15rem
		padding-right: 0.4rem
		color: $color-accent-dark-alt

// Vertical rhythm baseline
+establish-baseline

body
	font-family: $body-text-family
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	font-size: 1.22rem
	line-height: 1.35

h1, h2, h3, h4, h5
	color: $color-text
	text-shadow: 1px 1px 1px black
	text-align: left

h3, h4, h5
	font-weight: 700

h1
	font-family: $header-text-family
	font-weight: 700
	font-size: 3.2rem
	line-height: 1
	+rhythm(0, 0, 0, 1)
	text-shadow: 2px 2px 1px black
	@media (max-width: $narrow-width)
		font-size: 2.5rem

h2
	font-weight: 400
	-webkit-font-smoothing: subpixel-antialiased
	font-size: 2rem
	line-height: 1.2
	+rhythm(0, 0, 0, 1)
	color: $color-text-muted
	@media (max-width: $narrow-width)
		font-size: 2.2rem

h3
	font-size: 1.8rem
	line-height: 1.2
	+rhythm(1, 0, 0, 1)

h4
	font-size: 1.5rem
	line-height: 1.23
	+rhythm(0, 0, 0, 1)

h5
	+rhythm(0, 0, 0, 0.5)

// = BEGIN - Quotes
blockquote
	font-style: italic
	color: $color-text-muted
	text-align: left
	span
		position: absolute
		display: block
		font-style: italic
		color: $color-text-muted

.open
	font-size: 4rem
	top: .1em
	left: -.02em

.close
	font-size: 2.5rem
	bottom: -.7em
	right: .2em
// = END - Quotes

// Gists / code

.gist,
pre
	text-align: left
	white-space: pre-wrap
	margin-bottom: 1em

code
	font-family: $mono-family
	font-size: 1rem
	text-shadow: 0 1px 1px black

ins
	text-decoration: none

del
	text-decoration: line-through

// Content
// -------
article
	p
		+rhythm(0, 0, 0, 1)

	ul, ol
		+rhythm(0, 0, 0, 1.5)
		@media (max-width: $narrow-width)
			+rhythm(0, 0, 0, 1)

	em
		font-style: italic

	ol, ul
		padding-left: 2px

	ol
		list-style-type: decimal

	ul
		list-style-type: disc

	li
		line-height: inherit
		margin-bottom: 0.5em

.baseline
	font-size: 1.5rem
	+rhythm-margins(0, 0.5, 26px)
	font-style: italic
	color: $color-text-muted
	text-shadow: 1px 1px 1px black

article.post,
article.page
	> p:first-of-type
		@extend %drop-cap

article.home__intro
	> p:last-child
		@extend %drop-cap
		&::first-letter
			padding-right: 0.3rem

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
 *-------------------------------------------------------------- */

pre, code, h1, h2, h3, h4, h5, p, li, th, td, blockquote, cite, a, strong, em, span
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	text-size-adjust: 100%
