---
layout: default
---

<article id="post">
<h2>{{ page.date | date_to_string }}</h2>
<h1><a href="{{ page.url }}" title="Permalink for this post">{{ page.title }}</a></h1>
<p class="baseline">{{ page.baseline }}</p>

{{ content }}

</article>

<ul id="post-navigation">
	<li class="previous">
		{% if page.previous %}
		<a href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
		{% endif %}
	</li>
	<li class="next">
		{% if page.next %}
		<a href="{{ page.next.url }}">{{ page.next.title }} →</a>
		{% endif %}
	</li>
</ul>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ site.theme.disqus_shortname }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
