<!doctype html>
<!--[if lt IE 8]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <script>
            (function (H) {
                H.className = H.className.replace(/\bno-js\b/, 'js');
            })(document.documentElement); /*.no-js -> .js*/
        </script>
        <title>{{ page.title }} | {{ site.meta.site_name }}</title>
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="author" content="Andrew Patton" />
        <link rel="shortcut icon" href="{{ site.base_url }}/favicon.ico" />
        <link
            rel="stylesheet"
            href="{{ site.base_url }}/css/Pesto.css?ver=1.5"
            media="all"
        />
    </head>
    <body>
        <div id="content">{{ content }}</div>
        <script
            id="counterscale-script"
            data-site-id="{{ site.meta.counterscale_site_id }}"
            src="https://{{ site.meta.counterscale_subdomain }}.workers.dev/tracker.js"
            defer
        ></script>
    </body>
</html>
